{% extends 'layouts/app.twig' %}

{% block content %}

    <form action="/todo" method="post">
        <div class="d-inline-flex p-2 bd-highlight align-baseline align-items-center">
            <label class="label mr-2 align-baseline" for="todo">Задание</label>
            <input type="text" id="todo" name="todo">
        </div>
        <button class="btn btn-success">Добавить</button>
    </form>

    <table class="table">
        {% if todos|length > 0 %}

                {% for todo in todos %}

                    <tr><td>{{ todo.text }}</td></tr>

                {% endfor %}

        {% else %}

            <div>
                Заданий нет!
            </div>

        {% endif %}
    </table>
{% endblock %}